.container{
	width:500px;
	background-color:white;
	border:solid black border;
	padding:50px;
	margin:20px;
}

.sub-container{
	width:400px;
	background-color:blue;
	padding:50px;
	border: solid black;
}


.sub{
	width:300px;
	background-color:lightblue;
	border:15px solid blue border;
	padding:50px;
	
	
}